<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title> Riddle me this </title>
</head>
<body>
    <div class="main">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 user-section">
                        <h1 class"title"="">Riddle Game</h1>
                        <img src="static/css/img/winner.png" style="height: 200px; width: 400px;">
                        <h3>Congrats you beat the all riddles</h3>
                        <h4>You must be super smart!</h4>
                        <br>
                        <a href="/logout" class="btn btn-success answer-button-2"><h2 style="margin-top: 7px;">I want to play again!</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer" style="margin-top: 10%;">
        <div="container">
            <div class="row">
                <div class="col-md-12">
                    <h5>&copy; Jason Bishop 2018</h5>
                    <h5 class="footer-credit">A Project for my fullstack web development course from code institute.</h5>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>